.jumbotron {
  color: rgb(255, 216, 110);
  font-variant: inherit;
  background-color: black;
  opacity: .75;
}

.card {
  color: rgb(255, 216, 110);
  font-variant: inherit;
  background-color: black;
  opacity: .70;

}
textarea {
  color: rgb(255, 216, 110);
  font-variant: inherit;
  background-color: black;
  opacity: .70;
  width: 90%;
  text-align: center;
}