.jumbotron {
  color: rgb(246, 237, 212);
  font-variant: inherit;
  background-color: black;
  opacity: .75;
  text-align: center;
}

h2 {
  font-size: small;
  margin: 3%;
}

.card {
  color: rgb(246, 237, 212);
  font-variant: inherit;
  background-color: black;
  opacity: .70;
  text-align: center;

}
textarea {
  color: rgb(31, 29, 25);
  font-variant: inherit;
  /* background-color: black;
  opacity: .70; */
  width: 100%;
  text-align: center;
}

input {
  color: rgb(246, 237, 212);
 border-style: hidden;
  background-color: black;
  opacity: .70;
  text-align: center;
  width: 100%;
}