.jumbotron {
  color: rgb(246, 237, 212);
  font-variant: inherit;
  background-color: black;
  opacity: .75;
  text-align: center;
}

h2 {
  font-size: small;
  margin: 3%;
}

.card {
  color: rgb(246, 237, 212);
  font-variant: inherit;
  background-color: black;
  opacity: .70;
  text-align: center;
  margin: 3%;

}
textarea {
  color: rgb(31, 29, 25);
  font-weight: bolder;
  font-size: medium;
  font-variant: inherit;
  /* background-color: black;
  opacity: .70; */
  width: 100%;
  text-align: center;
}

input {
  color:  rgb(246, 237, 212);
  background-color: black;
font-size: medium;
 border-style: hidden;
  /* background-color: transparent; */
 width: 100%;
 text-align: center;

}
p {
  width: 100%;
}